<div class="border-top py-3 row">
  <div class="col-12 px-2">
    <h4><%= link_to "#{event.title}", "/events/#{event.id}", class: "w-100" %></h4>
    <!-- <%= link_to "#{event.title}", "/home/#{event.id}", class: "border rounded-circle w-100" %> -->
  </div>
  <div class="col-12 px-3 py-3">
    <%= event.content %>
  </div>
</div>
