<% if (Time.now - event.finish_time).negative? %>
  <% if event.check != "1" %>
    <div class="event-height py-3 row pl-4 event-width d-inline-block">
      <div class=" px-2">
        <h5><%= link_to "#{event.title}", event_path(event) %></h5>
      </div>
      <div class=" px-3 py-3">
        開始時間
        <p><%= event.start_time %></p>
        終了時間
        <p><%= event.finish_time %></p>
      </div>
    </div>
  <% end %>
<% end %>
