<% if (Time.now - event.finish_time).negative? %>
  <% if event.check != "1" %>
    <div class="event-height py-3 row pl-4 event-width d-inline-block">
      <div class=" px-2">
        <h5><%= link_to "#{event.title}", event_path(event) %></h5>
      </div>
      <div class=" px-3 py-3">
        <%= event.content %>
      </div>
    </div>
  <% end %>
<% end %>
