<div class="border-bottom py-3 row pl-4">
  <div class="col-12 px-2">
    <h4><%= link_to "#{purchase.event.title}", "/events/#{purchase.event.event_url}", class: "w-100" %></h4>
  </div>
  <div class="col-12 px-3 py-3">
    <%= purchase.event.content %>
  </div>
</div>
