@import "bootstrap";

.lg {
  display: inline;
}
.sm {
  display: none;
}
.event-width {
  width: 25%;
}

// jquery用
.hide {
  display:none
}

@media screen and (max-width: 480px){
  .lg {
    display: none;
  }
  .sm {
    display: inline;
  }
  .event-width {
    width: 50%;
  }
}
